<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @ride.from %>
</p>

<p>
  <b>To:</b>
  <%= @ride.to %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
